/* copied: http://www.irishstu.com/stublog/2011/12/13/tables-responsive-design-part-2-nchilds/ */
html {
    font-family: Arial, Sans-Serif;
    margin:0;
    padding: 3px;
    background: url(https://upload.wikimedia.org/wikipedia/commons/d/de/Ajax-loader.gif) no-repeat center center;
}
body {
    margin:0;
    padding: 0;
}

.mmmdepot {
    font-size:12px;
    border-collapse:collapse;
    width: 100%;
}
    
.mmmdepot th {
    text-align: right;
    padding:1px;
    border-bottom: 1px solid #aaa;
}

.mmmdepot .footer th {
    border-bottom: none;
    border-top: 1px solid #aaa;
}

.menu {
    top: 2px;
    left: 2px;
    position: absolute;
    padding: 0 25px 25px 5px;
    z-index: 100;
    font-size: 18pt;
    line-height: 10pt;
}
.menu:hover
, .mmmdepot thead th:hover
, .mmmdepot td a:hover
, .mmmdepot th a:hover
{
    color: blue;
    cursor: pointer;
}

.menu-tooltip .qtip-content {
    font-size: 10pt;
    line-height: 12pt;
}
.menu-tooltip .qtip-content p {
    padding: 3px 0px;
}

.mmmdepot td {
    border-collapse: collapse;
    padding: 1px 3px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
}

.mmmdepot thead th.stockname
, .mmmdepot td.stockname
 {
    cursor: pointer;  
    user-select: none;
    text-align: left;
    text-overflow: ellipsis;
    white-space: normal;
}

.mmmdepot th.stockname * {
    display: block;
    height: 15px;
    overflow: hidden;
}

.mmmdepot .stockname a {
    display: block; 
    border: none !important;
    text-align: left; 
    height: 1em;
    overflow:hidden; 
}


.mmmdepot .stocknote {
    text-align: left;
    position: relative;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;

}
 



.mmmdepot tbody tr:hover td {
    background-color: #dcdefd !important;
}

.mmmdepot tbody tr.odd {background-color: #EEE;}

.mmmdepot tbody tr.even > .sortcolumn {background-color: #F4F4F4;}
.mmmdepot tbody tr.odd > .sortcolumn,
.mmmdepot thead tr > th.sortcolumn {background-color: #DDD;}

.mmmdepot td a, .mmmdepot td a:visited, .mmmdepot th a, .mmmdepot th a:visited {text-decoration: none; color: #222;}



tr > td.stockname
, tr > td.stockbuydate
, tr > td.stockprice
{
    border-left: 1px solid #aaa;
}
tr td.stockiterator
, tr td.stockname
, tr td.totalbuyprice
, tr td.stockpricediff
, tr td.stockpricediffabs
{
    border-right: 1px solid #aaa;
}

tr .stockpricediff {
    font-weight: bold;
} 

tr.isDataOld .stockprice,
tr.isDataOld .stockpricediff,
tr.isDataOld .stockpricediffabs
{
    opacity: 0.7;
    font-weight: normal;
                    /*
    text-decoration: line-through; 
    text-decoration-style: dashed; 
    text-decoration-color: gray;
    */
}
/*
tr.isDataOld .stockpricediff,
tr.isDataOld .stockprice {
    opacity: 0.7;
}
*/

tr.isDataFromYesterday .stockprice,
tr.isDataFromYesterday .stockpricediff,
tr.isDataFromYesterday .stockpricediffabs
{
    opacity: 0.3;
    font-weight: normal;
    /*
    text-decoration: line-through; 
    text-decoration-style: solid; 
    text-decoration-color: black;
    */
}

th.header {
    cursor: ns-resize;
}

th.headerSortDown {
    cursor: n-resize;
}

th.headerSortUp {
    cursor: s-resize;
}

.chart {
    clear: both;
    position: relative;
    width: 100%;
    margin-top: 40px;
}

.chart img {
    width: 800px;    
} 

.qtip .chart img {
    width: 100%;    
} 
.qtip .chart {
    margin-top: 10px;  
} 

@media only screen and (max-width: 1000px) {
    .mmmdepot tr .stocknote
    {
        display:none; visibility:hidden;
    }

    .chart {
        width: 100% !important;
        float: none;
    }
}

@media only screen and (max-width: 700px) {
    .mmmdepot tr .stockiterator
    ,.mmmdepot tr .stocktype
    ,.mmmdepot tr .stockmarket
    {
        display:none; visibility:hidden;
    }

    .mmmdepot th.stockname {
        padding-left: 25px;
    }       
}

@media only screen and (max-width: 600px) {
    .mmmdepot tr .stockbuydate
    ,.mmmdepot tr .stockbuycount
    {
        display:none; visibility:hidden;
    }
    .google-visualization-tooltip {
       font-size: 9pt !important;
    }

    .chart img {
        width: 100%;    
    } 
}

@media only screen and (max-width: 500px) {
    .mmmdepot tr .stockbuyprice
    ,.mmmdepot tr .totalbuyprice
    {
        display:none; visibility:hidden;
    }
}

@media only screen and (max-width: 400px) {
    .google-visualization-tooltip {
       font-size: 7pt !important;
    }
}

@media only screen and (max-width: 300px) {
   .mmmdepot tr .stocktotalvalue {
        display:none; visibility:hidden;
    }
}

tr.watchlist td.stockbuydate
,tr.watchlist td.stockbuyprice
,tr.watchlist td.stockbuycount
,tr.watchlist td.totalbuyprice
,tr.watchlist td.stockpricediffabs
,tr.watchlist td.stocktotalvalue
,tr.watchlist td.stocktotaldiff
,tr.watchlist td.stocktotaldiffabs
{
    font-size: 0;
}


/* https://stackoverflow.com/questions/35862715/create-html-table-with-increment-number-of-column */
table {
    counter-reset: rowNumber;
}
tr:not(.watchlist) td.stockiterator::before {  
    counter-increment: rowNumber;
    content: counter(rowNumber);
}


/* make white */
.qtip-default {
    border: 1px solid gray !important;
    background-color: white !important;
}

.qtip-titlebar {
    border-bottom: 1px solid gray !important;
    background-color: white !important;
}


.controls {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    padding: 5px;
}

.controls a {
    position: relative;
    margin-right: 10px;
}
.controls a.active {
    font-weight: bold;
}
.controls:before { /* transparent background */
    content: '';
    position: absolute;;
    left: 0;
    top: 0;
    width:1000px;
    height: 1000px;
    background: #EEE;
    opacity: 0.7;
}



.darkmode body {
    background: black; 
    color: white;
}

.darkmode * {
    filter: invert(1);
}

@media (prefers-color-scheme: dark) {
    body {
        background: black; 
        color: white;
    }
    body * {
        filter: invert(1);
    }
}

