/* copied: http://www.irishstu.com/stublog/2011/12/13/tables-responsive-design-part-2-nchilds/ */
html {
  font-family: Arial, Sans-Serif;
  padding: 0;
  margin: 0;
  border: 3px solid white;
}
body {
  margin: 0;
  padding: 0;
}

.darkmode body
,.darkmode .qtip-content
,.darkmode .qtip-titlebar
 {
  background: black !important; 
  color: #ddd;
}
.darkmode a {color: white;}



/* leading spinner */
html:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/de/Ajax-loader.gif);
  background-position: center center;
  background-repeat: no-repeat;
}
html.loadingFinished:after {
  display: none;
}
html.shareDepot {
  border-color: red;
}

/*
darkmode is set mostly via adding darkmode class to html, to avoid dublicated CSS
this is just for the initial load screen
*/
@media (prefers-color-scheme: dark) {
  html:after {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
}




/* DEPOT TABLE */
#depot_table {
  position: relative;
}
.depot {
  font-size:12px;
  border-collapse:collapse;
  width: 100%;
}

.depot th,
.depot td {
  width: 1%;
  overflow: hidden;
  white-space: nowrap;
}
  
.depot th {
  text-align: right;
  padding:1px;
}

.depot thead th {
  border-bottom: 1px solid #aaa;
}

.depot tfoot th {
  border-top: 1px solid #aaa;
}

.depot td {
  border-collapse: collapse;
  padding: 1px 3px;
  text-align: right;
}

.depot .name
,.depot .note
,.depot .market
,.depot .type {
  text-align: left;
}

.depot th.name
,.depot td.name
,.depot th.note
,.depot td.note {
  width: auto;
  max-width: 0;
  cursor: pointer;  
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.depot tbody tr:hover td {
  background-color: #dcdefd !important;
}

.depot tbody tr.odd {background-color: #EEE;}
.depot tbody tr.even > .sortcolumn {background-color: #F4F4F4;}
.depot tbody tr.odd > .sortcolumn,
.depot thead tr > th.sortcolumn {background-color: #DDD;}

.depot tr > td.buyDate
, .depot tr > td.price
, .depot tr > td.type
{
  border-left: 1px solid #aaa;
}
.depot tr td.iterator
,.depot tr td.name
,.depot tr td.buyValue
,.depot tr td.valueDiffAbsToday
{
  border-right: 1px solid #aaa;
}

.depot tr .priceDiffPer {
  font-weight: bold;
} 

.depot tr.isDataOld .price span,
.depot tr.isDataOld .priceDiffPer span,
.depot tr.isDataOld .valueDiffAbsToday span
{
  opacity: 0.7;
  font-weight: normal;
}

.depot tr.isDataFromYesterday .price span,
.depot tr.isDataFromYesterday .priceDiffPer span,
.depot tr.isDataFromYesterday .valueDiffAbsToday span
{
  opacity: 0.3;
  font-weight: normal;
}
.depot th.header {cursor: ns-resize;}
.depot th.headerSortDown {cursor: n-resize;}
.depot th.headerSortUp {cursor: s-resize;}


.darkmode .depot tr.odd {background-color: #222;}

.darkmode .depot tr:hover td {background-color: #333 !important;}

.darkmode .depot tbody tr.even > .sortcolumn {background-color: #222;}
.darkmode .depot tbody tr.odd > .sortcolumn,
.darkmode .depot thead tr > th.sortcolumn {background-color: #333;}




/* charts */
.chart {
  clear: both;
  position: relative;
  width: 100%;
  margin-top: 40px;
}

.chart img {
  width: 800px;    
} 

.darkmode .chart img,
.darkmode #depot_chart_dev span {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}



/* menu + qtip */
.menu {
  top: 1px;
  left: 0px;
  position: absolute;
  padding: 0 25px 25px 3px;
  z-index: 100;
  font-size: 18pt;
  line-height: 10pt;
}
.menu:hover
, .depot thead th:hover
, .depot td a:hover
, .depot th a:hover
{
  color: blue;
  cursor: pointer;
}

.menu-tooltip .qtip-content {
  font-size: 10pt;
  line-height: 12pt;
}
.menu-tooltip .qtip-content p {
  margin: 5px 0;
  padding: 0px 0px;
}

.qtip .chart img {
  width: 100%;    
} 
.qtip .chart {
  margin-top: 10px;  
} 

.qtip p > .price {
  font-size:150%;
}
.qtip ul {
  margin-top: 0;
}


/* pnlTable */
.pnlTable th {
  text-align: left;
}
.pnlTable td {
  text-align: right;
}
.pnlTable td.price {
  color: gray;
}
.pnlTable td.diff {
  text-align: left;
}
.pnlTable td.total {
  border-top: 1px solid #333;
  font-weight:bold;
}


/* responsive */
@media only screen and (max-width: 1200px) {
  .depot tr .note
  ,.depot tr .limitBottom
  ,.depot tr .limitTop
  {
    display:none; visibility:hidden;
  }

  .chart {
    width: 100% !important;
    float: none;
  }
}

@media only screen and (max-width: 900px) {
  .depot tr .iterator
  ,.depot tr .type
  ,.depot tr .market
  {
    display:none; visibility:hidden;
  }

  .depot th.name {
    padding-left: 25px;
  }       
}

@media only screen and (max-width: 600px) {
  .depot tr .buyDate
  ,.depot tr .buyCount
  {
    display:none; visibility:hidden;
  }
  .google-visualization-tooltip {
     font-size: 9pt !important;
  }

  .chart img {
    width: 100%;    
  } 
}

@media only screen and (max-width: 500px) {
  .depot tr .buyPrice
  ,.depot tr .buyValue
  {
    display:none; visibility:hidden;
  }
}

@media only screen and (max-width: 400px) {
  .google-visualization-tooltip {
     font-size: 7pt !important;
  }
}

@media only screen and (max-width: 300px) {
   .depot tr .value {
    display:none; visibility:hidden;
  }
}

tr.watchlist td.buyDate
,tr.watchlist td.buyPrice
,tr.watchlist td.buyCount
,tr.watchlist td.buyValue
,tr.watchlist td.valueDiffAbsToday
,tr.watchlist td.valueDiffPer
,tr.watchlist td.valueDiffAbs
,tr.watchlist td.value
{
  font-size: 0;
}


/* https://stackoverflow.com/questions/35862715/create-html-table-with-increment-number-of-column */
table {
  counter-reset: rowNumber;
}
tr:not(.watchlist) td.iterator::before {  
  counter-increment: rowNumber;
  content: counter(rowNumber);
}


/* make white */

.qtip-default {
  border: 1px solid gray !important;
  background-color: white !important;
}
.qtip-titlebar {
  border-bottom: 1px solid gray !important;
  background-color: white !important;
}
/*
.darkmode .qtip-default {
  background-color: black !important;
}
.darkmode .qtip-titlebar {
  background-color: black !important;
}
*/


.controls {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  padding: 5px;
  z-index: 10;
}

.controls a {
  position: relative;
  margin-right: 10px;
}
.controls .active {
  font-weight: bold;
}
.controls:before { /* transparent background */
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width:1000px;
  height: 1000px;
  background: #EEE;
  opacity: 0.7;
}



.treemapTooltip {
  background: #eee;
  padding: 3px;
  border:1px solid #777;
}
.darkmode .treemapTooltip {
  background: #222;
  border-color:2px solid #eee;
}


.shareDepotLabel {
  background: red;
  color: white;
}
div.shareDepotLabel {
  text-align: center;
  padding: 4px;
}



.alert {
  animation: blinker 1s linear infinite;
  font-weight: bold;
  background-color: #fff2ac;
}
.darkmode .alert {
  background-color: #666600;
}
@keyframes blinker {
  50% {
    opacity: 0.4;
  }
}




.tablesorter .filtered {
  display: none;
}

.depot thead tr th {
  position: relative;
  min-width: 10px;
} 

input.search {
  font-size: 12px;
  color: red;
  width: 80%;
  position: absolute;
  border: transparent;
  top: 0;
  margin: 0;
  padding: 0;
  background: transparent;
}
input.search::placeholder {
  color: black;
  font-weight: bold;
}
.darkmode input.search::placeholder {
  color: white;
}


#depot_credits {
  text-align: center;
}

.darkmode .google-visualization-tooltip {background-color: black;}